body {
  padding: 10px;
  font-family: sans-serif;
}

.btn-option {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
.btn-option button {
  padding: 1em 2em;
  margin: 1em
}

.form {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.text-init {
  text-align: center;
}